[user]
	name = Augustin
	email = augustinusmp@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[safe]
	directory = /Users/augustin/dev/dotfiles/.config/nvim
[core]
	excludesFile = /Users/augustin/.gitignore_global
